header{
    background-color: #75975e;  
}

.logo{
    width: 200px;
}

nav li{
    display: inline;
    margin-left: 20px;
   margin-right: 20px;
    text-align: left;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    text-align: left;
}

#conta{
   position: absolute;
   right: 50px;
}

body{
    background-color: #658354;
    display: block;
}

table{
    margin: auto;
    font-size: 35px;
    border: 10px;
}

thead{
    background-color: #ddead1;
    font-weight:bold;
}

tbody{
    background-color: #b3cf99;
    font-weight: 'times new roman';
}

th, td{
    border: 1px solid black;
    padding: 8px 15px;
}
.foto_foda{
    width: 250px;
    float: left;
    margin: 20px 50px 50px 50px;
}

footer{
    text-align: center;
    background-color: #75975e;
    padding: 10px;
    clear: left;
    font-size: 35px;
}

form{
    text-align: left;
    padding: 100px 100px 100px;
    font-size: 20px;
}

form label{
    display: block;
}

.txt_bv{
    font-size: 50px;
    padding: 100px 100px 100px
}

footer li{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    display: block;
}

h2{
    font-size: 25px;
    color: black ; 
    background-color: white;
}

p{
    font-size: 25px;
}

.container{
    max-width: 960px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.miguel{
    width: 276px;
    margin: 18px;
    padding: 16px;
    background-color: #c7ddb5;
    border-radius: 8px;
    text-align: center;
}

.lucas{
    width: 276px;
    margin: 18px;
    padding: 16px;
    background-color: #c7ddb5;
    border-radius: 8px;
    text-align: center;
}

.miguel img{
    width: 250px;
    border-radius: 10px;
}

.lucas img{
    width: 250px;
    border-radius: 10px;
}